#
# Configuration file for the Xen instance lv-node2, created
# by xen-tools 4.2.1 on Tue Feb 21 16:31:13 2012.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-2.6.32-5-xen-amd64'
ramdisk     = '/boot/initrd.img-2.6.32-5-xen-amd64'

vcpus       = '1'
memory      = '512'

#
#  Disk device(s).
#
root        = '/dev/xvda1 ro'
disk        = [
#                 'phy:/dev/dm-cache/lv-node2-disk,xvda1,w',
                  'phy:/dev/mapper/cache2,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'lv-node2'

#
#  Networking
#
#dhcp        = 'dhcp'
#vif         = [ 'mac=00:16:3E:43:9A:94' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'



